*.pyc
__pycache__/
*.txt
*.json
*.log
.ipynb_checkpoints/
traffic_model_test.joblib
run_full_test.py
out.txt
out2.txt
where_py.txt
test_results.txt
train_results.txt
full_test_results.txt
case_test.txt
network_help.txt
main_help.txt
main_results_none.txt
python_ver.txt
case_cli_results.txt
case_cli_results_nospaces.txt
case_cli_results_empty.txt
case_help.txt
case_cli_results_final_try.txt
case_help_direct.txt
case_help_direct_2.txt
final_case_results.txt
case_final_output.txt
vol_test.txt
vol_help.txt
vol_test_final.txt
vol_test_exist.txt
vol_help_direct.txt
vol_direct_test.txt
case_final_results.txt
vol_final_test.txt
vol_test_c.txt
vol_help_direct_2.txt
vol_test_none.txt
